* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

body {
    background-color: #22212C;

    /* display: flex; */
    
    margin: 40px;
}

.container {
    background-color: #302F3D;
    border-radius: 20px;
}

.title {
    font-weight: 700;
    font-size: 23px;
    color: #837E9F;
}

.subtitle {
    font-weight: 400;
    font-size: 13px;
    color: #837E9F;
}

.repo {
    height: 175px;
    width: 461px;
    display: block;
    padding: 30px   ;
}

.icon {
    width: 20px;
    height: 20px;
}

.color-svg {
    filter: invert(55%) sepia(17%) saturate(542%) hue-rotate(209deg) brightness(89%) contrast(84%);
}


body #profile h1 {
    margin-top: 56px;
}

body #profile img {
    width: 128px;
    height: 128px;

    border-radius: 100%;
    border: 3px solid #ffff00
}

.repo p {
    margin: 22px 0;
}

.repo footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profile {
    width: 164px;
    height: 292px;

    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headProjects {
    width: 952px;
    height: 86px;

    margin-left: 60px;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#repos {
    margin: 31px 0 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#github, #language {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

#language {
    width: 20%;
}

#github {
    width: 25%;
}

#top-side {
    display: flex;
}

#informations, #tecnologies, #experiences, #education {
    width: 164px;
    height: 250px;

    margin-top: 30px;
}

#tecnologies {
    height: 200px;
}

#sidebar {
    display: flex;
    flex-direction: column;

    width: 164px;
}